body {
    margin: 0;
    background-color: #F5F5F5;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.a_link:link {
    color: #616161;
}

.a_link:hover {
    color: #757575;
}

.a_link:active {
    color: #616161;
}

.a_link:visited {
    color: #424242;
}

.header {
    background-color: #CFD8DC;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}

#logo {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    pointer-events: none;
}

#main {
    text-align: center;
}

#bio_container {
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
  #bio_container {
    max-width: 70vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  #bio_container {
    max-width: 60vw;
  }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
  #bio_container {
    max-width: 50vw;
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
  #bio_container {
    max-width: 40vw;
  }
}

@media screen and (min-width: 750px) {
  #bio_container {
    max-width: 30vw;
  }
}

.unselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
     -khtml-user-select: none;      /* Konqueror HTML */
       -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;      /* Internet Explorer/Edge */
            user-select: none;      /* Non-prefixed version, currently
                                       supported by Chrome and Opera */
}

#info, #close {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 0.75em;
    margin-bottom: 0.5em;
}

#close:hover {
    animation-name: rotate;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(180deg);}
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#footer_content {
    margin-left: 1em;
    margin-right: 4em;
}

span.wrap {
    display: inline-block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFC107;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
            transition: opacity 0.3s, transform 0.5s;
}

.footer-active {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

h1 {
    font-size: 24px;
    color: #212121;
    letter-spacing: 2px;
}

h2 {
    color: #212121;
    letter-spacing: 1px;
}


@media screen and (max-width: 450px) {
  #logo {
    max-width: 25%;
  }
  .icon {
    max-width: 15%;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  #logo {
    max-width: 22%;
  }
  .icon {
    max-width: 14%;
  }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
  #logo {
    max-width: 20%;
  }
  .icon {
    max-width: 11%;
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
  #logo {
    max-width: 18%;
  }
  .icon {
    max-width: 9%;
  }
}

@media screen and (min-width: 750px) {
  #logo {
    max-width: 16%;
  }
  .icon {
    max-width: 5%;
  }
}


@media screen and (min-width: 50em) {
  h1 {
    font-size: 3vw;
  }
}

@media screen and (min-width: 160em) {
  h1 {
    font-size: 5em;
  }
}


@media screen and (max-width: 450px) {
  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
  h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
  h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 750px) {
  h2 {
    font-size: 30px;
  }
}


@media screen and (max-width: 60em) {
  .bio {
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 60em) {
  .bio {
    line-height: 2rem;
  }
}

@media screen and (min-width: 75em) {
  .bio {
    line-height: 2.5rem;
  }
}


@media screen and (min-width: 50em) {
  .bio {
    font-size: 2vw;
  }
}

@media screen and (min-width: 75em) {
  .bio {
    font-size: 1.5em;
  }
}
