html, body {
    margin: 0;
    background-color: #F5F5F5;
    height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.a_link:link {
    color: #616161;
}

.a_link:hover {
    color: #757575;
}

.a_link:active {
    color: #616161;
}

.a_link:visited {
    color: #424242;
}

#center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#center img {
    /* Center Image */
    margin: 0 auto;
    display: block;
    /* Spacing to top */
    margin-top: 1vh;
}

h1 {
    color: #212121;
}

@media screen and (max-width: 60em) {
  h1 {
    font-size: 4vw;
  }
  #center img {
    max-width: 80%;
  }
}

@media screen and (min-width: 60em) and (max-width: 100em) {
  h1 {
    font-size: 3vw;
  }
  #center img {
    max-width: 50%;
  }
}

@media screen and (min-width: 100em) {
  h1 {
    font-size: 2vw;
  }
  #center img {
    max-width: 40%;
  }
}
